<div class="greetingModule">
    <script type="text/javascript">
        currentTime=new Date();
        if(currentTime.getHours()<12)
        document.write("<b>Good Morning!! </b>");
        else if(currentTime.getHours()<17)
        document.write("<b>Good Afternoon!! </b>");
        else 
        document.write("<b>Good Evening!! </b>");
    </script> 
</div>
