<link rel="stylesheet" href="/public/css/mirrorsettingstyles.css">
<script src="/public/js/mirrorSettings.js" defer></script>
<div id="mirrorSettingsBox">
  <div id="mirrorSettingsCol1">
    <div id="position1Settings" class="positionBlock">
      <label for="position1Select">
        Position 1
      </label>
      <br />
      <select name="position1Select" id="position1Select">
        <option value="none" <% if (locals.mirror.position1 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position1 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position1 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position1 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position1 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position1 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position1 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position1 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position1 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
    <div id="position2Settings" class="positionBlock">
      <label for="position2Select">
        Position 2
      </label>
      <br />
      <select name="position2Select" id="position2Select">
        <option value="none" <% if (locals.mirror.position2 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position2 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position2 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position2 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position2 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position2 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position2 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position2 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position2 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
    <div id="position3Settings" class="positionBlock">
      <label for="position3Select">
        Position 3
      </label>
      <br />
      <select name="position3Select" id="position3Select">
        <option value="none" <% if (locals.mirror.position3 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position3 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position3 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position3 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position3 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position3 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position3 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position3 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position3 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
  </div>
  <div id="mirrorSettingsCol2">
    <div id="position4Settings" class="positionBlock">
      <label for="position4Select">
        Position 4
      </label>
      <br />
      <select name="position4Select" id="position4Select">
        <option value="none" <% if (locals.mirror.position4 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position4 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position4 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position4 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position4 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position4 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position4 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position4 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position4 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
    <div id="positionBlankSettings" class="positionBlock"></div>
    <div id="position5Settings" class="positionBlock">
      <label for="position5Select">
        Position 5
      </label>
      <br />
      <select name="position5Select" id="position5Select">
        <option value="none" <% if (locals.mirror.position5 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position5 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position5 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position5 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position5 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position5 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position5 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position5 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position5 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
  </div>
  <div id="mirrorSettingsCol3">
    <div id="position6Settings" class="positionBlock">
      <label for="position6Select">
        Position 6
      </label>
      <br />
      <select name="position6Select" id="position6Select">
        <option value="none" <% if (locals.mirror.position6 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position6 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position6 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position6 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position6 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position6 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position6 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position6 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position6 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
    <div id="position7Settings" class="positionBlock">
      <label for="position7Select">
        Position 7
      </label>
      <br />
      <select name="position7Select" id="position7Select">
        <option value="none" <% if (locals.mirror.position7 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position7 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position7 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position7 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position7 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position7 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position7 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position7 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position7 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
    <div id="position8Settings" class="positionBlock">
      <label for="position8Select">
        Position 8
      </label>
      <br />
      <select name="position8Select" id="position8Select">
        <option value="none" <% if (locals.mirror.position8 == "none") { %>selected <% } %>>None</option>
        <option value="clock" <% if (locals.mirror.position8 == "clock") { %>selected <% } %>>Clock</option>
        <option value="greeting" <% if (locals.mirror.position8 == "greeting") { %>selected <% } %>>Greeting</option>
        <option value="diagnostics" <% if (locals.mirror.position8 == "diagnostics") { %>selected <% } %>>Diagnostics</option>
        <option value="calendar" <% if (locals.mirror.position8 == "calendar") { %>selected <% } %>>Calendar</option>
        <option value="weather" <% if (locals.mirror.position8 == "weather") { %>selected <% } %>>Weather</option>
        <option value="xmascountdown" <% if (locals.mirror.position8 == "xmascountdown") { %>selected <% } %>>Christmas Countdown</option>
        <option value="todayinhistory" <% if (locals.mirror.position8 == "todayinhistory") { %>selected <% } %>>Today in History</option>
        <option value="nflschedule" <% if (locals.mirror.position8 == "nflschedule") { %>selected <% } %>>NFL Schedule</option>
      </select>
    </div>
  </div>
</div>
<div id="saveBar"><div id="saveServerMessage"></div><button id="saveButton">Save</button></div>
</div>