<link rel="stylesheet" href="/public/css/mainscreenstyles.css" />
<script src="/public/js/mainScreen.js" defer></script>
<title>User Dashboard</title>
<title>Welcome!</title>
<body>
  <div id="userTagDiv">
    <label id="userTopTag"><%= locals.user.email %></label>
    <button class="signoutButton">
      <a id="signout" href="/signout">Sign Out</a>
    </button>
  </div>
  <br />
  <button id="goto-mirror-button" class="navigationButton">
    <a href="/mirrors/<%= locals.user.mirrorID.id %>">GO TO MIRROR</a>
  </button>
  <button
    onclick="revealAccountSettings()"
    id="account-settings-button"
    class="navigationButton"
  >
    ACCOUNT
  </button>
  <button
    onclick="revealMirrorSettings()"
    id="mirror-settings-button"
    class="navigationButton"
  >
    SETTINGS
  </button>
  <br />
  <div class="accountSettingsHidden" id="accountSettingsDiv">
    <label id="emailLabel">E-mail</label>
    <label id="userEmailLabel"><%= locals.user.email %></label>
    <br />
    <br />
    <br />
    <!-- <input type="email" id="newEmailInput" placeholder="type new e-mail"> -->
    <!-- <button type="submit" class="changeButton" id="emailChangeButton">Change</button> -->
    <br />
    <br />
    <br />
    <label>Password</label>
    <input
      type="password"
      id="accountCurrentPassword"
      placeholder="Current Pasword"
    />
    <br />
    <br />
    <br />
    <input
      type="password"
      id="accountChangePassword"
      placeholder="New Pasword"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$"
    />
    <button type="submit" class="changeButton" id="passwordChangeButton">
      Change
    </button>
    <br />
    <br />
    <br />
    <button type="submit" id="deleteAccountButton">Delete Account</button>
  </div>
  <div class="mirrorSettingsHidden" id="mirrorSettingsDiv">
    <%- include('./partials/_mirrorSettings.ejs') %>
  </div>
</body>
