<script src="/public/js/forgotpass.js" defer></script>
<link rel="stylesheet" href="/public/css/loginstyles.css" />
<title>Forgot Password</title>
<div id="form-container">
    <form id="forgot-form">
      <div class="input-container">
        <input type="email" id="email-input" placeholder="E-mail" />
      </div>
      <button id="forgot-submit-button">SUBMIT</button>
      <span><a href="/login">Back to Log In</a></span>
    </form>
    <div id="server-response"></div>
  </div>