<head>
<link rel="stylesheet" href="/public/css/loginstyles.css" />
<script src="/public/js/login.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
</head>
<body>
  <script>
    TweenMax.to(document.documentElement, 4, {
        "--split": "31%", 
        repeat:0, 
        repeatDelay:1,
        yoyo:true,
      ease: "power4.inOut"
      });
  </script>
  <div class="heading" id="AM_header">
    <h6>AltMirror</h6>
  </div>
    <div id="form-container">
      <form id="login-form">
        <div class="input-container">
          <div class="icon-container">
            <img class="login-icon" src="/public/assets/username-icon.svg" />
          </div>
          <input type="text" id="username-input" placeholder="Username" />
        </div>
        <div class="input-container">
          <div class="icon-container">
            <img src="/public/assets/password-icon.svg" class="login-icon" />
          </div>
          <input type="password" id="password-input" placeholder="Password" />
        </div>
        <button id="login-submit-button">LOG IN</button>
        <span>Not a member? <a href="/signup">Sign Up Now</a></span>
        <br />
        <span><a href="/forgotpass">Forgot password?</a></span>
      </form>
      <div id="server-response"><% if (locals.message) { %>
       <%= locals.message %> 
      <% } %></div>
    </div>
  </body>