<head>
  <title>Mirror</title>
  <link rel="stylesheet" href="/public/css/mirrorstyles.css" />
</head>
<body>
  <div class="mirrorColumn">
    <div id="position1" class="mirrorBlock">
      
    </div>
    <div id="position2" class="mirrorBlock">
  
    </div>
    <div id="position3" class="mirrorBlock">
      
    </div>
  </div>
  <div class="mirrorColumn">
    <div id="position4" class="mirrorBlock">
      
    </div>
    <div id="middleBlank" class="mirrorBlock"></div>
    <div id="position5" class="mirrorBlock">
      
    </div>
  </div>
  <div class="mirrorColumn">
    <div id="position6" class="mirrorBlock">
       
    </div>
    <div id="position7" class="mirrorBlock">
      
    </div>
    <div id="position8" class="mirrorBlock">
      
    </div>
  </div>

</body>
