<head>
    <title>Mirror</title>

    <style>
      @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: black;
        font-family: "Montserrat", sans-serif;
      }
      h1 {
        font-size: 4.4em;
        font-weight: 1100;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to left, #03a9f4, #c0fbff);
        padding: 20px 40px;
        width: 22%;
        text-anchor: center;
        position: relative;
        margin-top: 1%;
        margin-left: 1%;
      }
      h1:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left, #03a9f4, #c0fbff);
        z-index: -1;
        box-shadow: -5px 3px 14px #c0fbff, 5px -3px 14px #03a9f4;
        animation: movement 4s ease infinite;
      }
      @keyframes movement {
        50% {
          box-shadow: -5px 3px 28px #c0fbff, 5px -3px 28px #03a9f4;
        }
      }
      h1:after {
        content: "";
        position: absolute;
        width: 98%;
        height: 94%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 3%;
        background-color: black;
        z-index: -1;
      }
      .alert {
        padding: 20px;
        background-color: black;
        color: #C0FBFF;
        text-align: center;
        font-size: 4.4em;
        font-weight: 1100;
    }
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    .closebtn:hover {
        color: black;
    }
      #diagModule {
        color: white;
        border: solid white;
        padding: 20px 40px;
        width: 22%;
        margin-top: 1%;
        margin-left: 1%;
      }
      #systemDiag {
        color: rgb(18, 174, 18);
        font-size: 1.3em;
      }
      #displayDate {
        color: white;
        border: solid white;
        padding: 20px 40px;
        width: 22%;
        margin-top: 1%;
        margin-left: 1%;
        font-size: 1.3em;
      }
      
.cal {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #cdfcf4;
  width: 520px;
  margin: auto;
  position: relative;
  padding-top: 88px;
  top: -44px;
}
.cal h2 {
  position: absolute;
  top: 0;
  letter-spacing: -1px;
  font-size: 1.2em;
}
.cal .year {
  left: 288px;
}
.cal .month {
  left: 360px;
}
.cal table {
  width: 504px;
  font-size: 56px;
  border-spacing: 0;
}
.cal table thead {
  vertical-align: top;
}
.cal table td {
  width: 72px;
  height: 44px;
  line-height: 40px;
  text-align: left;
  border-left: 1px solid #000;
  vertical-align: top;
  transition: color 300ms ease-in;
  letter-spacing: -5px;
}
@media (max-width: 660px) {
  .cal {
    width: 320px;
  }
  .cal h2 {
    font-size: 1em;
  }
  .cal table {
    width: 320px;
    font-size: 35px;
  }
  .cal table td {
    width: 46px;
    height: 27px;
    letter-spacing: -3px;
  }
  .cal .year {
    left: 184px;
  }
  .cal .month {
    left: 230px;
  }
}
       </style>



  </head>

  <body onload="showDiagInfo()">
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <script type="text/javascript">
            currentTime=new Date();
            if(currentTime.getHours()<12)
            document.write("<b>Good Morning!! </b>");
            else if(currentTime.getHours()<17)
            document.write("<b>Good Afternoon!! </b>");
            else 
            document.write("<b>Good Evening!! </b>");
      </script> 
    </div>
    <h1 id="clockModule"></h1>

    <script src="https://code.jquerry.com/jquerry-3.4.1.min.js"></script>
    <script type="text/javascript">
      function showTime() {
        var clockModule = document.getElementById("clockModule");
        var currentDate = new Date();

        var hours = currentDate.getHours();
        var minutes = currentDate.getMinutes();

        minutes = minutes < 10 ? `0${minutes}` : minutes;

        clockModule.innerText = `${hours} : ${minutes}`;

        setTimeout(showTime, 1000);
      }

      showTime();
    </script>
    <script type="text/javascript">
      function showDiagInfo() {
        var screenSize = '';
        var nAgt = navigator.userAgent;
        var nVer = navigator.appVersion;
        var browser = navigator.appName;
        var version = '' + parseFloat(navigator.appVersion);
        var majorVersion = parseInt(navigator.appVersion, 10);
        var nameOffset, verOffset, ix;
        var os = "";
        var cookieEnabled = (navigator.cookieEnabled) ? true : false;
        if (screen.width) {
            width = (screen.width) ? screen.width : '';
            height = (screen.height) ? screen.height : '';
            screenSize += '' + width + " x " + height;
        }
        var clientStrings = [
            {s:'Windows 10', r:/(Windows 10.0|Windows NT 10.0)/},
            {s:'Windows 8.1', r:/(Windows 8.1|Windows NT 6.3)/},
            {s:'Windows 8', r:/(Windows 8|Windows NT 6.2)/},
            {s:'Windows 7', r:/(Windows 7|Windows NT 6.1)/},
            {s:'Windows Vista', r:/Windows NT 6.0/},
            {s:'Windows Server 2003', r:/Windows NT 5.2/},
            {s:'Windows XP', r:/(Windows NT 5.1|Windows XP)/},
            {s:'Windows 2000', r:/(Windows NT 5.0|Windows 2000)/},
            {s:'Windows ME', r:/(Win 9x 4.90|Windows ME)/},
            {s:'Windows 98', r:/(Windows 98|Win98)/},
            {s:'Windows 95', r:/(Windows 95|Win95|Windows_95)/},
            {s:'Windows NT 4.0', r:/(Windows NT 4.0|WinNT4.0|WinNT|Windows NT)/},
            {s:'Windows CE', r:/Windows CE/},
            {s:'Windows 3.11', r:/Win16/},
            {s:'Android', r:/Android/},
            {s:'Open BSD', r:/OpenBSD/},
            {s:'Sun OS', r:/SunOS/},
            {s:'Chrome OS', r:/CrOS/},
            {s:'Linux', r:/(Linux|X11(?!.*CrOS))/},
            {s:'iOS', r:/(iPhone|iPad|iPod)/},
            {s:'Mac OS X', r:/Mac OS X/},
            {s:'Mac OS', r:/(Mac OS|MacPPC|MacIntel|Mac_PowerPC|Macintosh)/},
            {s:'QNX', r:/QNX/},
            {s:'UNIX', r:/UNIX/},
            {s:'BeOS', r:/BeOS/},
            {s:'OS/2', r:/OS\/2/},
            {s:'Search Bot', r:/(nuhk|Googlebot|Yammybot|Openbot|Slurp|MSNBot|Ask Jeeves\/Teoma|ia_archiver)/}
        ];
        for (var id in clientStrings) {
            var cs = clientStrings[id];
            if (cs.r.test(nAgt)) {
                os = cs.s;
                break;
            }
        }

        var osVersion = "";

        if (/Windows/.test(os)) {
            osVersion = /Windows (.*)/.exec(os)[1];
            os = 'Windows';
        }

        switch (os) {
            case 'Mac OS':
            case 'Mac OS X':
            case 'Android':
                osVersion = /(?:Android|Mac OS|Mac OS X|MacPPC|MacIntel|Mac_PowerPC|Macintosh) ([\.\_\d]+)/.exec(nAgt)[1];
                break;

            case 'iOS':
                osVersion = /OS (\d+)_(\d+)_?(\d+)?/.exec(nVer);
                osVersion = osVersion[1] + '.' + osVersion[2] + '.' + (osVersion[3] | 0);
                break;
        }
        // Opera
        if ((verOffset = nAgt.indexOf('Opera')) != -1) {
            browser = 'Opera';
            version = nAgt.substring(verOffset + 6);
            if ((verOffset = nAgt.indexOf('Version')) != -1) {
                version = nAgt.substring(verOffset + 8);
            }
        }
        // Opera Next
        if ((verOffset = nAgt.indexOf('OPR')) != -1) {
            browser = 'Opera';
            version = nAgt.substring(verOffset + 4);
        }
        // Legacy Edge
        else if ((verOffset = nAgt.indexOf('Edge')) != -1) {
            browser = 'Microsoft Legacy Edge';
            version = nAgt.substring(verOffset + 5);
        } 
        // Edge (Chromium)
        else if ((verOffset = nAgt.indexOf('Edg')) != -1) {
            browser = 'Microsoft Edge';
            version = nAgt.substring(verOffset + 4);
        }
        // MSIE
        else if ((verOffset = nAgt.indexOf('MSIE')) != -1) {
            browser = 'Microsoft Internet Explorer';
            version = nAgt.substring(verOffset + 5);
        }
        // Chrome
        else if ((verOffset = nAgt.indexOf('Chrome')) != -1) {
            browser = 'Chrome';
            version = nAgt.substring(verOffset + 7);
        }
        // Safari
        else if ((verOffset = nAgt.indexOf('Safari')) != -1) {
            browser = 'Safari';
            version = nAgt.substring(verOffset + 7);
            if ((verOffset = nAgt.indexOf('Version')) != -1) {
                version = nAgt.substring(verOffset + 8);
            }
        }
        // Firefox
        else if ((verOffset = nAgt.indexOf('Firefox')) != -1) {
            browser = 'Firefox';
            version = nAgt.substring(verOffset + 8);
        }
        // MSIE 11+
        else if (nAgt.indexOf('Trident/') != -1) {
            browser = 'Microsoft Internet Explorer';
            version = nAgt.substring(nAgt.indexOf('rv:') + 3);
        }
        // Other browsers
        else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) < (verOffset = nAgt.lastIndexOf('/'))) {
            browser = nAgt.substring(nameOffset, verOffset);
            version = nAgt.substring(verOffset + 1);
            if (browser.toLowerCase() == browser.toUpperCase()) {
                browser = navigator.appName;
            }
        }
        // trim the version string
        if ((ix = version.indexOf(';')) != -1) version = version.substring(0, ix);
        if ((ix = version.indexOf(' ')) != -1) version = version.substring(0, ix);
        if ((ix = version.indexOf(')')) != -1) version = version.substring(0, ix);

        majorVersion = parseInt('' + version, 10);
        if (isNaN(majorVersion)) {
            version = '' + parseFloat(navigator.appVersion);
            majorVersion = parseInt(navigator.appVersion, 10);
        }
        if (typeof navigator.cookieEnabled == 'undefined' && !cookieEnabled) {
            document.cookie = 'testcookie';
            cookieEnabled = (document.cookie.indexOf('testcookie') != -1) ? true : false;
        }

        document.getElementById("osVersion").innerHTML = "OS: " + os + " " + osVersion;
	      document.getElementById("screenResolution").innerHTML = "Resolution: " + screenSize;
        document.getElementById("browserVersion").innerHTML = "Browser: " + browser + " " + majorVersion + " (" + version + ")";
        document.getElementById("cookieCheck").innerHTML = "Cookie enabled? " + cookieEnabled;
      }
    </script>
    <br><br><br>
    <div id="diagModule">
      <label id="systemDiag">SystemDIAG</label>
      <br><br>
      <label id="osVersion"></label>
      <br>
      <label id="screenResolution"></label>
      <br>
      <label id="browserVersion"></label>
      <br>
      <label id="cookieCheck"></label>
    </div>
    <br><br><br>
    <div class="cal">
     <h2 class="year">2022</h2><h2 class="month">October</h2>
      <table>
        <thead>
          <tr>
            <td>M</td>
            <td>T</td>
            <td>W</td>
            <td>T</td>
            <td>F</td>
            <td>S</td>
            <td>S</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
          </tr>
          <tr>
            <td >9</td>
            <td >10</td>
            <td >11</td>
            <td >12</td>
            <td >13</td>
            <td >14</td>
            <td >15</td>
          </tr>
          <tr>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
          </tr>
          <tr>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
          </tr>
          <tr>
            <td>30</td>
            <td>31</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
        </body>
