<script src="/public/js/signup.js" defer></script>
    <script type="text/javascript">
      var checkForMatch = function () {
        if (
          document.getElementById("passwordCreate-input").value ==
          document.getElementById("passwordAgain-input").value
        ) {
          document.getElementById("matchMessage").style.color = "white";
          document.getElementById("matchMessage").innerHTML =
            "Password is matching";
        } else {
          document.getElementById("matchMessage").style.color = "red";
          document.getElementById("matchMessage").innerHTML =
            "Password is not matching";
        }
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <link rel="stylesheet" href="/public/css/loginstyles.css" />
    <script>
      TweenMax.to(document.documentElement, 4, {
          "--split": "31%", 
          repeat:0, 
          repeatDelay:1,
          yoyo:true,
        ease: "power4.inOut"
        });
    </script>
    <div class="heading" id="AM_header">
      <h6>AltMirror</h6>
    </div>
    <div id="form-container">
        <form id="signup-form">
          <div class="input-container">
            <input id="emailCreate-input" placeholder="E-mail" />
          </div>
          <div class="input-container">
            <input
              type="password"
              id="passwordCreate-input"
              placeholder="Password"
            />
          </div>
          <div class="input-container">
            <input
              id="passwordAgain-input"
              type="password"
              placeholder="Confirm Password"
            />
          </div>
          <button id="signup-submit-button">SIGN UP</button>
          <span><a href="/login">Back to Log In</a></span>
        </form>
        <span id="server-response"></span>
      </div>