html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b3238;
  margin: 0;
  padding: 0;
}
#form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #616468;
}
#login-form {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#server-response {
  width: 100%;
  height: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  color: #cdfcf4;
}
.input-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 18vw;
  min-width: 300px;
}
#username-input {
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
  background-color: #3a4149;
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
}
#username-input:focus::placeholder {
  color: transparent;
}
#password-input {
  width: 100%;
  background: none;
  padding: 10px;
  background-color: #3a4149;
  border-style: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  outline: none;
  color: white;
}
#password-input:focus::placeholder {
  color: transparent;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  background-color: #363a41;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.login-icon {
  pointer-events: none;
  width: 15px;
  height: 15px;
}
#login-submit-button {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #cdfcf4;
  font-weight: 800;
  font-size: 1.5em;
  border: none;
  border-radius: 7px;
  color: #2c353a;
}
#login-submit-button:hover {
  cursor: pointer;
  color: #60656b;
}
#login-submit-button:focus {
  outline: none;
}
#form-container a {
  text-decoration: underline;
  color: white;
}

/* Success Page Styles */
#module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
#module-container img {
  width: 75vw;
  height: 100vh;
  pointer-events: none;
  user-select: none;
}

/* Signup Page Styles */
