html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2b3238;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2b3238;
  user-select: none;
}
a:hover {
  color: #60656b;
}
#userTagDiv {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #60656b;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 40px;
}
#signout {
  text-decoration: none;
  font-size: 1.1vw;
  color: #2b3238;
}
#signout:hover {
  color: #60656b;
}

label {
  color: #cdfcf4;
  font-size: xx-large;
  user-select: none;
}
select {
  margin-left: 13%;
  background-color: #3a4149;
  font-size: 1vw;
  color: #cdfcf4;
  border: none;
  border-radius: 5px;
}
#accountSettingsDiv {
  width: 35%;
  margin: auto;
  margin-top: 3%;
}
#mirrorSettingsDiv {
  margin-top: 3%;
}
button {
  background-color: #cdfcf4;
  border: none;
  border-radius: 7px;
  color: #2c353a;
  user-select: none;
}
.changeButton {
  height: 36px;
  width: 17%;
  margin-left: 1%;
  font-weight: 550;
  font-size: 1.2em;
}
.signoutButton {
  height: 30px;
  width: 17%;
  margin-left: 1%;
  font-weight: 550;
  font-size: 1.2em;
}
.navigationButton {
  height: 50px;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6%;
  font-weight: 800;
  font-size: 1.5em;
}
#deleteAccountButton {
  height: 36px;
  width: 350px;
  font-weight: 550;
  font-size: 1.2em;
  background-color: #931a50;
  color: #cdfcf4;
}
button:hover {
  cursor: pointer;
  color: #60656b;
}
button:focus {
  outline: none;
}
#deleteAccountButton:hover {
  color: #2c353a;
}
.accountSettingsShow {
  visibility: visible;
}
.accountSettingsHidden {
  display: none;
  visibility: hidden;
}
.mirrorSettingsShow {
  visibility: visible;
}
.mirrorSettingsHidden {
  display: none;
  visibility: hidden;
}
input {
  background: none;
  padding: 10px;
  background-color: #3a4149;
  border-style: none;
  border-radius: 7px;
  outline: none;
  color: white;
}
#userEmailBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#currentPasswordBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#newPasswordBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#changePassServerResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 900;
  color: #cdfcf4;
  user-select: none;
}
#changePassButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}
#accountSettingsDiv input {
  width: 250px;
}
#deleteAccountButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#deleteAccountConfirmationContainer {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
#deleteAccountConfirmationBox {
  position: relative;
  background-color: black;
  height: 45vh;
  width: 35vw;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.2);
  box-shadow: 0 10px 40px rgba(166, 173, 201, 0.15);
  border-radius: 20px;
}
#deleteAccountConfirmationTextContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2vw;
}
#deleteAccountConfirmationButtonContainer {
  display: flex;
  flex-direction: row;
}
.deleteAccountText {
  color: #cdfcf4;
  font-size: 1.5em;
}
#deleteAccountConfirmationBox img {
  width: 100px;
}
#deleteAccountConfirmationBox input {
  width: 250px;
}
#deleteAccountConfirmationButtonContainer button {
  width: 200px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 900;
}
#yesDeleteMyAccount {
  background-color: #931a50;
  color: #cdfcf4;
}
#yesDeleteMyAccount:hover {
  color: #2c353a;
}
#deleteAccountServerResponse {
  color: #cdfcf4;
  font-weight: 900;
  font-size: 1.2em;
}
