@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: black;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}
#diagModule {
  color: white;
  border: solid white;
  padding: 20px 40px;
  width: 12vw;
  margin-top: 1%;
  margin-left: 1%;
}
#systemDiag {
  color: rgb(18, 174, 18);
  font-size: 1.3em;
}
#displayDate {
  color: white;
  border: solid white;
  padding: 20px 40px;
  width: 22%;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 1.3em;
}

.cal {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #cdfcf4;
  width: 15vw;
}
.cal h2 {
  top: 0;
  letter-spacing: -1px;
  font-size: 1.2em;
}
.cal .year {
  padding-bottom: 20px;
}
.cal .month {
  padding-bottom: 20px;
  padding-right: 20px;
}
.cal table {
  width: 15vw;
  font-size: 2.5vw;
  border-spacing: 0;
}
.cal table thead {
  vertical-align: top;
}
.cal table td {
  width: 72px;
  height: 35px;
  line-height: 20px;
  text-align: left;
  border-left: 1px solid #000;
  vertical-align: top;
  transition: color 300ms ease-in;
  letter-spacing: -3px;
  font-size: 0.6em;
}
.cal .monthYear {
  display: flex;
  flex-direction: row;
}
@media (max-width: 660px) {
  .cal {
    width: 200px;
  }
  .cal h2 {
    font-size: 1em;
  }
  .cal table {
    width: 320px;
    font-size: 35px;
  }
  .cal table td {
    width: 146px;
    height: 27px;
    letter-spacing: -8px;
    font-size: 0.5em;
  }
}
h1 {
  font-size: 5.2vw;
  font-weight: 1100;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left, #03a9f4, #c0fbff);
  margin: 5px;
  padding: 10px 10px;
  width: 17vw;
  text-anchor: center;
  position: relative;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #03a9f4, #c0fbff);
  z-index: -1;
  box-shadow: -5px 3px 14px #c0fbff, 5px -3px 14px #03a9f4;
  animation: movement 4s ease infinite;
}
@keyframes movement {
  50% {
    box-shadow: -5px 3px 28px #c0fbff, 5px -3px 28px #03a9f4;
  }
}
h1:after {
  content: "";
  position: absolute;
  width: 98%;
  height: 94%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3%;
  background-color: black;
  z-index: -1;
}
.greetingModule {
  padding: 10px;
  background-color: black;
  color: #c0fbff;
  font-size: 4em;
  font-weight: 1100;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}
/* Styles for the mirror blocks */
.mirrorColumn {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 32vw;
  height: 96vh;
}
.mirrorBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  box-sizing: border-box;
  width: 32vw;
  height: 32vh;
}
.weather-outer-container {
  width: 300px;
  background-color: none;
  display: block;
}
.weather-inner-container {
  width: 300px;
  height: 235px;
  background-color: #c0fbff;
  border: solid black;
  border-radius: 10%;
}
.weather-icon {
  width: 300px;
  height: 110px;
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}
.temperature-value {
  width: 300px;
  height: 60px;
}
.temperature-value p {
  padding: 0;
  margin: 0;
  font-size: 4em;
  text-align: center;
  color: black;
}
.temperature-value span {
  font-size: 0.5em;
}
.temperature-description p {
  padding: 8px;
  margin: 0;
  text-align: center;
  font-size: 1.4em;
  color: black;
}
.weather-location p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1em;
  color: black;
}
.xmasCountdown {
  background-image: url(/public/assets/santa-countdown.png);
  background-repeat: no-repeat;
  background-size: 275px 197px;
  border: solid black;
  height: 197px;
  width: 275px;
}
.xmasCountdownText {
  text-align: center;
  padding-left: 130px;
  font-size: 18px;
  padding-right: 10px;
  padding-top: 65px;
}
.historyContainer {
  width: 15vw;
  height: 8vw;
  background-color: black;
  box-shadow: -5px 3px 14px #c0fbff, 5px -3px 14px #03a9f4;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.4vw;
  color: #c0fbff;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
#thisDay {
  padding-top: 18px;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.2vw;
}
#thisHistory {
  padding-top: 15px;
  margin: 0;
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
  color: orange;
}
.teamStatsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  height: 8vw;
  background-color: #06424d;
  box-shadow: -5px 3px 14px #c0fbff, 5px -3px 14px #03a9f4;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.4vw;
  font-family: "Montserrat", sans-serif;
}
#teamName,
#teamRecord,
#teamStanding,
.nextGame,
#nextDate {
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  color: #c0fbff;
}
.nextGame {
  color: white;
  text-align: center;
  font-variant: small-caps;
}
#position1 {
  justify-content: flex-start;
  align-items: flex-start;
}
#position2 {
  justify-content: center;
  align-items: flex-start;
}
#position3 {
  justify-content: flex-end;
  align-items: flex-start;
}
#position4 {
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
#position5 {
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
#position6 {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
}
#position7 {
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}
#position8 {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
