<script src="/public/js/signup.js" defer></script>
    <script type="text/javascript">
      var checkForMatch = function () {
        if (
          document.getElementById("passwordCreate-input").value ==
          document.getElementById("passwordAgain-input").value
        ) {
          document.getElementById("matchMessage").style.color = "white";
          document.getElementById("matchMessage").innerHTML =
            "Password is matching";
        } else {
          document.getElementById("matchMessage").style.color = "red";
          document.getElementById("matchMessage").innerHTML =
            "Password is not matching";
        }
      };
    </script>
    <link rel="stylesheet" href="/public/css/loginstyles.css" />
    <title>Signup</title>
    <div id="form-container">
        <form id="signup-form">
          <div class="input-container">
            <input id="emailCreate-input" placeholder="E-mail" />
          </div>
          <div class="input-container">
            <input
              type="password"
              id="passwordCreate-input"
              placeholder="Password"
            />
          </div>
          <div class="input-container">
            <input
              id="passwordAgain-input"
              type="password"
              placeholder="Confirm Password"
            />
          </div>
          <button id="signup-submit-button">SIGN UP</button>
          <span><a href="/users/signin">Back to Sign In</a></span>
        </form>
        <span id="server-response"></span>
      </div>